* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*-----HEADER-----*/





header {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header a h1 {
    margin: 0;
    margin-left: 1%;
    text-align: center;
    font-family: 'Amaranth', sans-serif;
}


header a{
    color: white;
    text-decoration: none;
}

header a:hover {
    color:#6F1D1B;
}

header nav ul {
    list-style: none;
    display: flex;
    text-align: center;
    padding: 0;
    margin: 0;
}

header nav ul li{
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-family: 'Amaranth', sans-serif;
}



/*-----MAIN-----*/

main{
    background-color: burlywood;

}


main img{
    height: 250px;
}




main h2{
    text-align: center;
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;
    color: black;
}

main h3{
    text-align: center;
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;
    color: black;
}

main h4{
    text-align: center;
    font-family: 'Amaranth', sans-serif;
}

main h5{
    text-align: center;
    font-family: 'Amaranth', sans-serif;
}

main h6{
    text-align: center;
    font-family: 'Amaranth', sans-serif;
    color: black;
}

main p{
    text-align: center;
    font-family: 'Amaranth', sans-serif;
    font-weight: 600;
}

footer h4{
    text-align: center;
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;
    color: black;
}




.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-image: url(../img/tipos-maquinas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.hero h2 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.hero p {
    font-size: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

/*.hero{
    width: calc(100vh - 120px);
}*/

.producto-nuevo div {
    background-color: black;
    color: white;
    display: inline-block;
    margin: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border: 0;
}

.producto-nuevo h4{
    margin: 0;
}

.producto-nuevo img {
    height: 300px;
}


.producto-nuevo h2 {
    font-size: 30px;
    display: block;
}

.producto-nuevo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}


.producto-nuevo div:hover{
    transform: scale(1.1);
    transition: 2s;
}

.carrusel-sorteo {
    margin-top: 50px;
    width: 250px;
}


.sorteo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 100px;
}

.grid-cioccolato-sorteo {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    grid-template-areas:
        "producto-nuevo sorteo"
    ;
}

.producto-nuevo {
    grid-area: producto-nuevo;
}

.sorteo {
    grid-area: sorteo;
}

main h2 {
    padding: 50px;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/*---_______________________________________________________________PRODUCTOS_________________________________________________________________---*/

/*.contenedor-padre-productos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}*/

/*.contenedor-productos {
    display: grid;
    grid-column: 1/3;
}*/

.contenedor-padre-productos h3 {
    font-size: 40px;
    padding-top: 200px;
}

.contenedor-padre-productos div h5 {
    font-size: 20px;
    margin: 0;
}

.contenedor-padre-productos {
    background-color: #6F1D1B;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
        "section1 section1 section1 section1"
        "section2 section2 section3 section3"
    ;
}

.contenedor-cafes {
    grid-area: section1;
}

.contenedor-extras {
    grid-area: section2;
}

.contenedor-medialunas {
    grid-area: section3;
}

.titulo-productos-1 {
    font-size: 30px;
    height: 100px;
    background-color: #6F1D1B;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titulo-productos-2 {
    font-size: 30px;
    height: 100px;
    background-color: #6F1D1B;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titulo-productos-3 {
    font-size: 30px;
    height: 100px;
    background-color: #6F1D1B;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cafes {
    background-color: #6F1D1B;
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.extras {
    background-color: #6F1D1B;
    /*background-color: rosybrown;*/
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.medialunas {
    background-color: #6F1D1B;
    /*background-color: #99582A;*/
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cafes div {
    background-color: black;
    color: white;
    display: inline-block;
    margin: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border: 0;
}

.extras div {
    background-color: black;
    color: white;
    display: inline-block;
    margin: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border: 0;
}

.medialunas div {
    background-color: black;
    color: white;
    display: inline-block;
    margin: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border: 0;
}

.cafes div:hover{
    transform: scale(1.1);
    transition: 2s;
}

.extras div:hover{
    transform: scale(1.1);
    transition: 2s;
}

.medialunas div:hover{
    transform: scale(1.1);
    transition: 2s;
}





/*.contenedor-productos .cafes{
    display: flex;
    justify-content: space-around;
}*/



/*--------------------------------------------------NOSOTROS-------------------------------------------------*/

.historia-nosotros {
    padding: 20px;
    background-image: url(../img/depositphotos_205466132-stock-photo-a-cup-of-coffee-on.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.img-nosotros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px 50px 0px;
}


.historia-nosotros p{
    font-size: 20px;
    font-weight: bold;
    color: black;
}


/*--------------------------------------------------LOCALIDAD-------------------------------------------------*/

.contenedor-localidad {
    background-color: #6F1D1B;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor-localidad h3 {
    font-size: 40px;
}

.contenedor-localidad h5 {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    color: black;
}


.como-llegar h3 {
    margin-bottom: 10px;
}



/*--------------------------------------------------INICIAR-SESION-------------------------------------------------*/

form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/*-----FOOTER-----*/

footer {
    background-color: gray;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer img {
    width: 30px;
}

/*--------------------------------------------------media-querys-------------------------------------------------*/

/*@media screen and (max-width:1800px){
    .contenedor-padre-productos{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-areas:
        "section1"
        "section2"
        "section3"
        ;
    }
    .contenedor-padre-productos img {
        height: 200px;
    }
}*/

/*@media screen and (max-width:930px){
    .contenedor-padre-productos{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-areas:
        "section1"
        "section2"
        "section3"
    
        ;
    }
    .cafes{
        flex-direction: column;
    }
    .extras{
        flex-direction: column;
    }
    .medialunas{
        flex-direction: column;
    }
}*/

/*@media screen and (max-width:1700px){
    .cafes {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}*/



/* @media screen and (max-width:500px){
    .cafes {
        display: flex;
        flex-direction: column;
    }
    .extras {
        display: flex;
        flex-direction: column;
    }
    .medialunas {
            display: flex;
            flex-direction: column;
        }
}*/

@media screen and (max-width:1450px){
    .hero h2{
        font-size: 45px;
    }
    .hero p{
        font-size: 30px;
    }
}

@media screen and (max-width:1300px){
    .section-localidad h2{
        font-size: 50px;
    }
}

@media screen and (max-width: 1200px){
    .contenedor-localidad{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nuestros-horarios{
        margin-bottom: 30px;
    }

    .como-llegar{
        margin-top: 30px;
    }
    .section-localidad h2{
        font-size: 50px;
    }
    .section-localidad h2{
        font-size: 40px;
    }
}

@media screen and (max-width:1000px) {
    .grid-cioccolato-sorteo {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        grid-template-areas:
            "producto-nuevo"
            "sorteo"
        ;
    }
    .producto-nuevo{
        margin: 0;
    }
    .producto-nuevo h3{
        margin: 0;
    }
    .sorteo{
        margin: 0;
    }
    .sorteo h3{
        margin-top: 80px;
    }
    .carrusel-sorteo{
        margin: 0;
    }
    .section-localidad h2{
        font-size: 35px;
    }
}




@media screen and (max-width:850px) {
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero h2{
        font-size: 40px;
    }
    .hero p{
        font-size: 25px;
    }
}

@media screen and (max-width: 600px){
    header nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}

@media screen and (max-width: 470px){
    .producto-nuevo img{
        height: 250px;
    }
    .sorteo h3{
        margin-top: 50px;
    }
}

@media screen and (max-width: 450px){
    .como-llegar{
        display: none;
    }
    .nuestros-horarios h3{
        font-size: 30px;
    }
    .nuestros-horarios h5{
        font-size: 20px;
    }
}

@media screen and (max-width: 430px){
    .hero h2{
        font-size: 30px;
    }
    .hero p{
        font-size: 20px;
    }
}

@media screen and (max-width: 386px){
    .producto-nuevo img{
        height: 200px;
    }
    .carrusel-sorteo{
        width: 250px;
    }
}

@media screen and (max-width:330px){
    .nuestros-horarios h5{
        font-size: 17px;
    }
}

/* footer .redes {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}*/

/*hacer galeria de fotos en "nosotros" usando grids*/
/*definir todo el contenido de las paginas*/
/*usar media query en las paginas*/